.body-login {
	background: #000;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
}

h2 {
	text-transform: uppercase;
	color: #fff;
	font-size: 2.5em;
	text-align: center;
}

.form-login {
	width: 50%;
	max-width: 480px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: #fff;
	border-radius: 6px;
	padding: 2em;
	height: 50%;
}
