.table {
	border: 1px solid black;
	border-collapse: collapse;
	width: 100%;
}

.table tr {
	margin: 1em;
	border: 1px solid black;
	height: 25px;
}

.table th,
td {
	border: 1px solid black;
	padding: 0.5em;
}
